<form form-step-validity name="trainingForm">

    <div class="form-group">
        <label for="mailAddress">Levelezési cím*</label>
        <input required type="text" class="form-control" id="mailAddress" ng-model="model.mailAddress">
    </div>

    <div class="form-group">
        <label for="invoiceAddress">Számlázási cím*</label>
        <input required type="text" class="form-control" id="invoiceAddress" ng-model="model.invoiceAddress">
    </div>

    <div class="form-group">
        <label for="email">E-mail cím*</label>
        <input required type="email" class="form-control" id="email" ng-model="model.email">
    </div>


    <div class="form-group">
        <label for="phone">Telefonszám*</label>
        <input required type="text" class="form-control" id="phone" ng-model="model.phone">
    </div>


    <div class="form-group">
        <label for="comment">Megjegyzés</label>
        <textarea name="comment" id="comment" cols="30" class="form-control" rows="10" ng-model="model.comment"></textarea>

    </div>
</form>