<div class="table-responsive">
  <table class="table">
      <tr>
          <td>Kiválasztott esemény</td>
          <td>{{model.event.title}} - {{model.event.date_from}}</td>
      </tr>

      <tr>
          <td>Név</td>
          <td>{{model.name}}</td>
      </tr>


      <tr>
          <td>Beosztás</td>
          <td>{{model.title}}</td>
      </tr>


      <tr>
          <td>Cég név</td>
          <td>{{model.company}}</td>
      </tr>

      <tr>
          <td>Adószám</td>
          <td>{{model.taxNo}}</td>
      </tr>


      <tr>
          <td>Levelezési cím</td>
          <td>{{model.mailAddress}}</td>
      </tr>


      <tr>
          <td>Számlázási cím</td>
          <td>{{model.invoiceAddress}}</td>
      </tr>


      <tr>
          <td>E-mail cím</td>
          <td>{{model.email}}</td>
      </tr>

      <tr>
          <td>Telefonszám</td>
          <td>{{model.phone}}</td>
      </tr>


      <tr>
          <td>Fax</td>
          <td>{{model.fax}}</td>
      </tr>


      <tr>
          <td>Megjegyzés</td>
          <td>{{model.comment}}</td>
      </tr>
  </table>

</div>