<form form-step-validity name="trainingForm">

    <div class="form-group">
        <label for="name">Az Ön neve*</label>
        <input required type="text" class="form-control" id="name" ng-model="model.name">
    </div>

    <div class="form-group">
        <label for="title">Az Ön beosztása*</label>
        <input required type="text" class="form-control" id="title" ng-model="model.title">
    </div>

    <div class="form-group">
        <label for="company">Cég neve</label>
        <input type="text" class="form-control" id="company" ng-model="model.company">
    </div>

    <div class="form-group">
        <label for="taxNo">Az Ön adószáma</label>
        <input type="text" class="form-control" id="taxNo" ng-model="model.taxNo">
    </div>

</form>