
<form form-step-validity name="trainingForm">

    <div class="form-group">

        <select required id="trainingSelect" name="trainingSelect" ng-model="model.event"
                ng-options="training.title for training in trainings track by training.id">
            <option value="">Válasszon egy eseményt</option>
        </select>

        <div ng-if="model.event.price" class="form-group">
            <label for="company_leader" class="checkbox-inline">
            <input type="checkbox"  id="company_leader" ng-change="change()"  ng-model="model.companyleader" >
                KKV vezető vagyok, így jogosult vagyok a 15% kedvezményre.
            </label>
        </div>
        <p></p>
    </div>

    <div ng-if="model.event">

    <p ng-if="model.event.place">Helyszín: {{model.event.place}} </p>

    <p> Dátum: {{model.event.date_from | date:'yyyy. MMMM d'}}<span ng-if="!model.event.date_to ">.</span><span ng-if="model.event.date_to "> - {{model.event.date_to | date:' MMMM d.'}}</span> </p>

    <p ng-if="model.event.price">Részvételi díj: {{model.event.price | currency:Ft:0}} + ÁFA </p>
    </div>
</form>