body {
  &.animated {
    overflow: hidden;
  }
  font-size: 14px;
  font-family: $font-body;
  padding-top: 120px;
  line-height: 1.6;
  color: $gray-darker;
  background: $gray;
  #top-bar.scrolled{
    background:transparentize(white,.4);
  }
  &.colored {
    background: $green;
    color: white;
    #top-bar.scrolled{
      background:transparentize($green,.4);
    }

    h1 {
      color: $yellow;
      text-transform: uppercase;
      font-weight: bold;

    }

    #top-bar #menu-icon span {
      background: white;
    }

  }

  &.inknowation{
    background: url('../img/3f-bg.jpg') no-repeat top left / cover fixed;
  }
  &.tudasmenedzsment {
    background: url('../img/tudasmenedzsment.jpg') no-repeat top left / cover fixed;
  }
  &.blog {
    background: url('../img/blog-bg.jpg') no-repeat top left / cover fixed;
  }

  &.galeria {
    background: url('../img/galeria-bg.jpg') no-repeat top left / cover fixed;
  }
  @media screen and (max-width: $screen-md-max) {
  }
  @media screen and (max-width: $screen-sm-max) {
    font-size: 12px;
  }
  @media screen and (max-width: $screen-xs-max) {
    font-size: 11px;
  }

  &.kik-vagyunk {
    background: $yellow;
    padding-top: 0;

  }

}

.fomme-icon-logo {
  font-size: 1.7em;
  margin-top: 1px;
}

a {
  color: $green;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}

h1, h2, h3, h4 {
  &.color-marsala {
    color: $green;
    font-size: 2em;
    line-height: 1;
    margin-bottom: 30px;
  }
}

.head h1, #hero h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

body, html {
  height: 100%;

}

[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.marsala {
  background: $green;
  color: white;
}

.rose {
  background: $yellow;
  color: white;
}

/*NAV*/

.home #top-bar .topbar-center {
  width: 45px !important;
}

#top-bar {

  .topbar-center {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 75px;
    #back {
      float: left;
      margin-top: -1px;
    }
    #menu-icon {
      float: left;
      margin-left: 5px;
    }
  }

  width: 100%;
  z-index: 100;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  left: 0;
  transition: all .5s ease-in-out;
  background: transparent;
  /*&.green {
    background: transparentize($green, .8);
  }

  &.white {
    background: transparentize(white, .2);
    #logo a {
      color: $yellow;
    }
    #menu-icon span {
      background: $yellow;
    }
  }*/

  &.scrolled {
    background: transparentize($green, .6);
    height: 110px;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: transparentize($green, .2);
    z-index: 0;
    transition: all .3s ease;

  }
  > .container:after {
    display: inline !important;

  }
  > .container > .row:after {
    display: inline !important;
  }
  #back {
    font-size: 1.7em;
    margin: 7px auto;
    float: left;
    a {
      color: white;
      &:hover {
        color: darken($yellow, .8);
      }
    }
  }
  #logo {

    width: 400px;
    margin: auto;
    display: block;
    height: 120px;

    transition: transform .4s ease-in-out .6s, height .2s ease-in-out, transform .2s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    margin-top: -20px;
    &.scrolled {

      transform: scale(0.65);
      transform-origin: top center;
      .kik-vagyunk & {
        transform-origin: center center;
        a {
          color: $green;
        }
      }
    }

    &.ng-enter {
      transition: 0.5s linear all;
      -webkit-transform: translateY(-20px);
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: translateY(-20px);
      opacity: 0;
    }

    /* The finishing CSS styles for the enter animation */
    &.ng-enter.ng-enter-active {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 1;
    }

    &.ng-leave {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 0;
      display: none;
    }

    /* The finishing CSS styles for the enter animation */
    &.ng-leave.ng-leave-active {
      -webkit-transform: translateY(-20px);
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: translateY(-20px);
      opacity: 0;
    }

    a {
      color: white;
      font-size: 26px;
      position: relative;
      top: 2px;
      transition: all .3s ease;

    }
    &.colored a {

      color: $green;
    }
  }

  #menu-container {

    transition: all .1s ease;
    position: relative;
    max-height: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
    text-align: center;

    ul {
      padding-left: 0;
      list-style-type: none;
      li {
        a {
          color: white;
          transition: background .3s ease-in, color .3s .1s ease-out;
          &:hover {
            text-decoration: none;
            /*  background: white;*/
            color: $yellow;

          }

        }
      }

      &#menu {
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        margin-bottom: 15px;
        li {
          a {
            margin: auto;
            text-transform: uppercase;
            /*  border: solid white;
              border-width: 0 0 1px 0;*/
            display: block;
            padding: 5px 0;
            max-width: 300px;

          }
          &:last-child a {
            border-width: 0;
          }
        }
      }
      &#social {
        text-align: center;
        font-size: 1.5em;
        li {

          display: inline-block;
          margin-left: 15px;
          &:first-child {
            margin-left: 0;
          }
          a {
            &:hover {
              color: $yellow;
              background: transparent;
            }
          }
        }
      }
    }

  }
  #menu-icon {
    width: 35px;
    height: 15px;
    display: block;
    position: relative;
    z-index: 30;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $green;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2), &:nth-child(3) {
        top: 6px;
      }

      &:nth-child(4) {
        top: 12px;
      }

    }

  }

  &.expanded {
    #logo {
      display: none;
    }
    #menu {
      margin-top: 65px;
    }
    &:before {
      height: 100%;

    }
    #menu-icon {

      span {
        background: white;
        &:nth-child(1) {
          top: 6px;
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 6px;
          width: 0%;
          left: 50%;
        }
      }

    }

    #menu-container {
      transition: all .3s ease .15s;
      opacity: 1;
      visibility: visible;
      max-height: 500px;

    }
  }

}

[ng-cloak]#splash {
  display: block !important;
}

#splash {
  text-align: center;
  display: block;
  -webkit-transition: all 1s ease-in-out .1s;
  -moz-transition: all 1s ease-in-out .1s;
  -ms-transition: all 1s ease-in-out .1s;
  -o-transition: all 1s ease-in-out .1s;
  transition: all 1s ease-in-out .1s;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: $green;
  .outer {
    position: relative;
    max-width: 100%;
    width: 300px;
    margin: auto;
    top: 100px;
    height: 280px;
  }
  i {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    max-width: 100%;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;

    font-size: 300px;
    color: $green;

    z-index: 2;

  }
  .filler {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: white;

    animation: fillerAnimation ease-in-out 2s;
    animation-iteration-count: infinite;
    transform-origin: 0% 0%;
    -webkit-animation: fillerAnimation ease-in-out 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 0% 0%;
    -moz-animation: fillerAnimation ease-in-out 2s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 0% 0%;
    -o-animation: fillerAnimation ease-in-out 2s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 0% 0%;
    -ms-animation: fillerAnimation ease-in-out 2s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 0% 0%;

  }

  &.ng-hide-add, &.ng-hide-remove {
    display: block !important;
  }
  &.ng-hide {
    #logo {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
    }

    opacity: 0;

  }
}

.top-bar-logo {
  transition: all .5s ease-in-out;
  top: 0;
  position: relative;
  &.ng-hide-add, &.ng-hide-remove {
    display: block !important;
  }
  &.ng-hide {
    opacity: 0;
    transform: translateY(-30px);
  }

}

.btn-marsala {
  @include button-variant(#fff, $green, $green);
  transition: all .4s ease-in-out;
}

.home-btn {
  @include button-variant(#fff, transparent, #fff);

  max-width: 100%;
  display: inline-block;
  padding: 10px 30px;
  margin: auto;
  transition: all .4s ease-in-out;

  font-size: 1.4em;
  &:hover {
    background: transparentize(white, .8);
    border-color: white;
  }
}

.smallquote {
  color: white;
  font-family: $font-body;

  font-style: italic;
  text-align: left;
  font-size: 1.1em;
  line-height: 1.4;

  margin: 30px 0;
  .quoter {
    font-weight: normal;
    text-align: right;
  }
}

@keyframes fillerAnimation {
  0% {
    height: 0%;

  }
  1% {
    opacity: 1;
  }
  50% {
    height: 100%;
  }
  99% {

  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fillerAnimation {
  0% {
    height: 0%;

  }
  1% {
    opacity: 1;
  }
  50% {
    height: 100%;
  }
  99% {

  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fillerAnimation {
  0% {
    height: 0%;

  }
  1% {
    opacity: 1;
  }
  50% {
    height: 100%;
  }
  99% {

  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fillerAnimation {
  0% {
    height: 0%;

  }
  1% {
    opacity: 1;
  }
  50% {
    height: 100%;
  }
  99% {

  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fillerAnimation {
  0% {
    height: 0%;

  }
  1% {
    opacity: 1;
  }
  50% {
    height: 100%;
  }
  99% {

  }
  100% {
    opacity: 0;
  }
}

.img-small {
  width: 200px;
  margin: 30px auto;
}

#dots {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  /*  .home & {
      z-index: 1;
    }*/
  &:before {
    animation: animationFramesLeft ease-in-out 30s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/szurke_textura_bal.png') no-repeat 0 0 / cover;
    transform: translate3d(-300px, -300px, 0);
    width: 900px;
    height: 913px;
    max-width: 100%;

    content: '';
    @media screen and (max-width: $screen-md-max) {
      width: 600px;
    }

    @media screen and (max-width: $screen-sm-max) {
      width: 400px;
      height: 300px;
    }
    @media screen and (max-width: $screen-sm-max) {
      width: 200px;
      height: 150px;
    }

  }

  .colored &:before {
    background: url('../img/szines_textura_bal.png') no-repeat 0 0 / cover;
  }
  &:after {
    animation: animationFramesRight ease-in-out 40s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    position: absolute;
    content: '';
    width: 890px;
    height: 900px;
    top: 0;
    right: 0;
    background: url('../img/szurke_textura_jobb.png') no-repeat 0 0 / cover;
    transform: translate3d(40%, -40%, 0);

    @media screen and (max-width: $screen-md-max) {
      width: 600px;

    }

    @media screen and (max-width: $screen-sm-max) {

      width: 400px;
      height: 300px;
    }
    @media screen and (max-width: $screen-sm-max) {
      width: 200px;
      height: 150px;
    }

    .colored & {
      background: url('../img/szines_textura_jobb.png') no-repeat 0 0 / cover;
    }
  }
  .colored &:after {
    background: url('../img/szines_textura_bal.png') no-repeat 0 0 / cover;
  }
}

@keyframes animationFramesLeft {
  0% {
    transform: translate3d(-300px, -300px, 0);
  }
  20% {
    transform: translate3d(-280px, -295px, 0);
  }
  40% {
    transform: translate3d(-275px, -280px, 0);
  }
  60% {
    transform: translate3d(-280px, -260px, 0);
  }
  80% {
    transform: translate3d(-290px, -280px, 0);
  }
  100% {
    transform: translate3d(-300px, -300px, 0);
  }
}

@keyframes animationFramesRight {
  0% {
    transform: translate3d(40%, -40%, 0)
  }
  20% {
    transform: translate3d(42%, -43%, 0)
  }
  40% {
    transform: translate3d(38%, -38%, 0)
  }
  60% {
    transform: translate3d(43%, -33%, 0)
  }
  80% {
    transform: translate3d(35%, -39%, 0)
  }
  100% {
    transform: translate3d(40%, -40%, 0)
  }
}

#default {

}

.page-title {

  font-weight: 600;
  text-transform: uppercase;
  font-size: 30px;
  color: $green;
  line-height: 1.2;
}

.fomme-icon {
  font-size: 30px;
  top: 10px;
  position: relative;

}

.color-white {
  color: white;
}

.color-green {
  color: $green;
}

#photoswipe {
  figure {
    @include make-xs-column(12);
    @include make-sm-column(6);
    img {
      @include img-responsive();
    }
  }
}

.scrollTo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: transparentize($green, .4);
  color: white;
  border-radius: 50%;
  -webkit-transition: all .4s ease-in-out .1s;
  -moz-transition: all .4s ease-in-out .1s;
  -ms-transition: all .4s ease-in-out .1s;
  -o-transition: all .4s ease-in-out .1s;
  transition: all .4s ease-in-out .1s;
  transform: scale(.75);




  &.ng-enter {
    transition: 0.4s ease all;
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    transform: translateY(60px);
    opacity: 0;
  }

  /* The finishing CSS styles for the enter animation */
  &.ng-enter.ng-enter-active {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }

  &.ng-leave {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;

  }

  /* The finishing CSS styles for the enter animation */
  &.ng-leave.ng-leave-active {
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    transform: translateY(60px);
    opacity: 0;
  }


  i {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    padding: 30px;

  }

  &:hover {
    background: $green;
    color: $yellow;

    transform: scale(1);

    i {
    }
  }

}

.pswp__counter{
  color: #fff;
}


#scroll{
  position: absolute;
  top:0;
}
