
.quote {
  font-family: $font-heading;
  border: solid #fff;
  border-width: 1px 0 1px 0;
  padding: 15px 0;
  font-size: 1.4em;
  text-transform: uppercase;

  color: white;
  line-height: 1.2em;
  max-width: 500px;
  width: 90%;
  margin: auto;
  .quoter {
    font-size: 0.7em;
    text-transform: capitalize;
    text-align: center;
  }
  }


.fullpage-wrapper {
  display: block;
  position: relative;
  z-index: -2;
}

.section {
  text-align: center;

  /*background-blend-mode: multiply;*/
  background: transparent no-repeat center center / cover scroll;
  #logo {
    position: relative;
    top: 0;
    display: block;
    max-width: 300px;
    margin: auto;
    @media screen and (max-width: $screen-sm-max) {
      max-width: 130px;
    }
  }

  #sign{
    position: relative;
    top: -30px;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    max-width: 300px;
    display: block;
    position: relative;
    z-index: 10;
    margin: auto;
    @media screen and (max-width: $screen-sm-max) {
      max-width: 130px;
    }
  }
}
  #fp-nav {
    mix-blend-mode: overlay;
    ul li a span, .fp-slidesNav ul li a span {
      opacity: 1;

    }

    .fp-tooltip {
      background: #474747;
      padding: 2px 10px;
      top: -6px !important;
      max-width:none !important;

    }
  }

  .down {
    left: calc(50% - 43.5px);
    mix-blend-mode: overlay;
    position: fixed;
    bottom: 15px;
    .fomme-icon {
      font-size: 20px;
      color: #474747;;

    }
  }

