
#kikvagyunk {
  [ng-click] {
    cursor: pointer;
  }
  height: 100%;
  @media screen and (max-width: $screen-xs-max) {
    height: auto;
  }
  background: url('../img/kik-vagyunk-bg.jpg') no-repeat center center / cover;

  #kik-image-container {
    background: $yellow;
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 250px;

    @media screen and (max-width: $screen-xs-max) {
      background: transparent;
      position: static;
    }

  }
  .name {
    color: $green;
    text-transform: uppercase;
    font-family: $font-heading;
    font-size: 1.5em;
  }

  a {
    color: white;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }

  #molnar, #obermayer {
    .fp-tableCell {
      display: block;
    }
  }
  .person {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    @media screen and (max-width: $screen-xs-max) {
      margin-top: 70px;
      top: 0;
      h3 {
        color: white;
      }
    }
    top: -100px;
    position: relative;

    z-index: 1;
    img {
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      width: 200px;
    }
    &.ng-enter {
      opacity: 0;
      top: -80px;
      @media screen and (max-width: $screen-xs-max) {
        top: 70px;
        left: -40px;
      }
    }

    &.ng-enter-active {
      opacity: 1;
      top: -100px;
      @media screen and (max-width: $screen-xs-max) {
        top: 70px;
        left: 0;
      }
    }
    &.ng-enter-stagger {
      /* this will have a 100ms delay between each successive enter animation */
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;

      /* in case the stagger doesn't work then these two values
       must be set to 0 to avoid an accidental CSS inheritance */
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.kik-vagyunk {
  #back {
    display: none;
  }
  #logo {
    position: absolute;
    transform: scale(0.5) !important;
    height: 50px !important;
    top: 0;
    margin-left: 0 !important;
    margin-top: -10px;
    float: left !important;
    left: 0 !important;
  }
}

.kik-vagyunk-person {
  padding-top: 30px;
  padding-bottom: 60px;
  .profile-pic {
    width: 200px;
    margin: 30px auto;
  }
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .colored-logo {
    width: 300px;
    max-width: 90%;
    margin-bottom: 40px;
  }

  .personal-quote {
    border-bottom: 1px solid #4E4E50;
    margin-bottom: 10px;
    h3 {
      color: $green;

      text-transform: uppercase;
      font-family: $font-heading;
      font-size: 2.7em;
      line-height: 1.1;
      margin-top: 0;

    }
  }
  .contact {
    margin-top: 10px;

    color: #B2B2B2;
    i {
      font-size: 2em;
      color: #b2b2b2;
      top: 10px;
      position: relative;
    }
    span, a {
      &.name {
        margin-left: 0;
      }
    }

  }

  .content {
    margin-top: 30px;
    line-height: 1.4;
    font-size: 1.13em;
  }
  .sign {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 90%;
    width: 250px;
  }
  .underImage {
    width: 100%;
    -webkit-clip-path: url(#clipper);
    clip-path: url(#clipper);
  }
  #clipBottom {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    bottom: -50px;
    left: 3px;
    display: block;
  }
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  background: #fff;
  opacity: 0;
  &.active {
    opacity: 1;
    z-index: 99;

    &.ng-enter {
      opacity: 1;
      top: 100%;
    }

    &.ng-enter-active {
      opacity: 1;
      top: 0;
    }
    &.ng-leave {
      opacity: 1;
      top: 0
    }

    &.ng-leave-active {
      opacity: 0;
      top: 50%;
    }

  }
}

.kik-vagyunk-person.ng-enter, .kik-vagyunk-person.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.kik-vagyunk-person > .container {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 1;
  position: relative;
  top: 0px;
  &.ng-hide-remove {
    top: 100px;
    opacity: 0;
  }
}

.mivel-foglalkozunk {
  h1 {
    color: white;
    font-size: 1.6em;
  }
}

#programs {

}

.program {

  position: relative;
  display: block;
  opacity: 1;

  margin: 30px auto;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  &.ng-enter-stagger {
    /* this will have a 100ms delay between each successive enter animation */
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
  &.ng-enter-active, &.ng-enter {
    opacity: 0;
    top: 30px;
  }

  &:hover {
    text-decoration: none;

    .img-holder {
      background: transparentize($yellow, .2);
      color: white !important;
      h3 {
        color: white !important;
      }
    }
  }
  .img-holder {

    z-index: 2;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparentize(white, .5);
    position: relative;
    width: 220px;
    max-width: 100%;
    height: 220px;
    margin: auto;
  }

  h3 {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-top: 10px;
    margin-bottom: 0;
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: $font-heading;
  }
  h4 {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-top: 5px;
    font-size: 1.1em;
    text-transform: lowercase;
    margin-bottom: 0;
    color: #fff;

    font-family: $font-body;
  }
}

.singleProgram {

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .smallquote {
    padding: 20px 0;
    text-align: center;
    margin: 10px 0;
    border-top: 1px solid $gray-darker;
    border-bottom: 1px solid $gray-darker;
    p {
      margin: 0;
    }
  }
  margin-bottom: 60px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 1;
  position: relative;
  top: 0px;
  &.ng-hide-remove {
    top: 100px;
    opacity: 0;
  }
}

.singleEvent {

  .jellap {
    display: block;
    width: 100%;
    font-size: 1.3em;
    margin-top: 20px;
    i {
      font-size: 1.6em;
      position: absolute;
    }
  }
  h1 {
    font-family: $font-body;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.3em;
    span {
      font-weight: normal;
      display: block;
      text-transform: lowercase;
    }
  }
  .content {
    margin-top: 30px;
    font-size: 1.15em;
    line-height: 1.4;
  }
  .date {
    font-weight: bold;
    font-size: 1.3em;
  }
  .smallquote {
    padding: 20px 0;
    text-align: center;
    margin: 10px 0;
    border-top: 1px solid $gray-darker;
    border-bottom: 1px solid $gray-darker;
  }
  margin-bottom: 60px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 1;
  position: relative;
  top: 0px;
  &.ng-hide-remove {
    top: 100px;
    opacity: 0;
  }

  .btn-marsala {
    padding: 10px 20px;
    width: 300px;
    max-width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
  }
}

#progress {
  margin-bottom: 30px;
  overflow: hidden;
  padding-left: 0;
  /*CSS counters to number the steps*/
  counter-reset: step;
  li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    width: 25%;
    text-align: center;
    float: left;
    position: relative;
    color: $green;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    &:hover {
      cursor: pointer;
      &:before {
        color: $green;
        background: $yellow;
      }
    }
    &:before {
      position: relative;
      z-index: 2;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 10px;
      color: #333;
      background: white;
      border-radius: 50%;
      margin: 0 auto 5px auto;
      text-align: center;
    }
    &:after {
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      content: '';
      width: 0%;
      height: 2px;
      background: white;
      position: absolute;
      left: -50%;
      top: 9px;
      z-index: 1;
    }
    &:first-child:after {
      content: none;
    }
    &.active:before, &.active:after {
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      background: $green;
      color: white;
    }
    &.active:before {
      -webkit-transition: all .4s ease-in-out .4s;
      -moz-transition: all .4s ease-in-out .4s;
      -ms-transition: all .4s ease-in-out .4s;
      -o-transition: all .4s ease-in-out .4s;
      transition: all .4s ease-in-out .4s;
    }
    &.active:after {
      width: 100%;
    }
  }
}

select {
  width: 100%;
  background: $green;
  color: white;
  border: 0;
  padding: 10px 20px;

}

.form-main {
  position: relative;
  margin-bottom: 20px;

  .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
    background: transparentize($green, .5);
  }
  .ngsb-wrap .ngsb-scrollbar .ngsb-track {
    background: transparentize($yellow, .8);
  }
}

.form-step {
  transition: .4s all ease-in-out;
  position: relative;
  text-align: center;
  select {
    margin-bottom: 20px;
  }
  &.ng-enter {
    position: absolute;
    opacity: 0;
    left: -200px;
    width: 100%;
    transition-delay: .3s;
  }

  &.ng-enter-active {
    opacity: 1;
    left: 0;
  }
  &.ng-leave {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 1;

  }

  &.ng-leave-active {

    opacity: 1;
    left: 200px;

  }
}

input.form-control, textarea.form-control {
  background: lighten($green, 35);
  box-shadow: none;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: 0;
  color: $green;

  &:active, &:focus {
    color: #fff;
    box-shadow: none;
    border: 1px solid $green;
    background: lighten($green, 10);
  }
}

h1, h2 {
  color: #4D4D4F;
  text-transform: uppercase;
  font-family: $font-heading;
}

#kikkel-dolgozunk {
  h1 {
    margin: 30px 0;
  }
  .img-small {
    max-width: 100px;
    margin: 10px auto;
  }

  .partner {
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 15px;
    padding: 15px 0;
    transition: all .5s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 1;
    top: 0;
    &.ng-enter-stagger {
      /* this will have a 100ms delay between each successive enter animation */
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s;

      /* in case the stagger doesn't work then these two values
       must be set to 0 to avoid an accidental CSS inheritance */
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
    &:last-child {
      border-bottom-width: 0px;
    }
    &.ng-enter, &.ng-enter-active {
      opacity: 0;
      top: 40px;
    }
    .partner-info {
      color: $green;
      font-weight: bold;
      h1, h2, h3 {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 5px;

      }
      p {
        color: #A7A9AC;
        font-weight: normal;
      }
    }
    .name {
      color: $green;
      font-weight: bold;
      display: block;

    }
    .url {
      color: $gray-darker;
      display: block;
    }
    .additional {
      color: $gray;
      font-style: italic;
      display: block;
    }

  }
}

#contact {

  .social {
    background: $gray;
    margin-top: 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: block;
    ul {
      text-align: center;
      display: block;
      padding: 15px 0;
      font-size: 1.5em;
      margin-bottom: 0;
      li {
        text-align: center;
        display: inline-block;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
        list-style-type: none;
        a {
          color: $green;
        }
      }
    }
  }

  .personal-contact {
    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px solid $gray-darker;
    border-bottom: 1px solid $gray-darker;
  }
}

#timeline {
  .event {
    padding: 50px 0;
    display: block;
    position: relative;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: 1;
    top: 0;
    &.ng-enter-stagger {
      /* this will have a 100ms delay between each successive enter animation */
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;

      /* in case the stagger doesn't work then these two values
       must be set to 0 to avoid an accidental CSS inheritance */
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
    &.ng-enter-active, &.ng-enter {
      opacity: 0;
      top: 30px;
      .date-container {
        -webkit-transition: all .4s ease-in-out .4s;
        -moz-transition: all .4s ease-in-out .4s;
        -ms-transition: all .4s ease-in-out .4s;
        -o-transition: all .4s ease-in-out .4s;
        transition: all .4s ease-in-out .4s;
        opacity: 0;
        top: 30px;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 115px;
      height: 100%;
      background: linear-gradient(to bottom, transparent, transparent 80%, #bbb, #bbb 100%);
      width: 2px;
      background-size: 100% 10px;
      z-index: -1;
      @media screen and (max-width: $screen-xs-max) {
        left: 40px;
      }
    }
    &:last-child:before {
      height: 40%;
    }
    h2, h3 {
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      color: #333;
      margin-bottom: 0;
      margin-top: 5px;
      font-size: 1.3em;
      max-width: 250px;
      margin: auto;
    }
    h2 {
      margin-top: 15px;
      font-size: 1.5em;
    }
    h3 {
      text-transform: lowercase;
    }
    .date-container {
      top: 0;
      opacity: 1;
      -webkit-transition: transform .4s ease-in-out, opacity .4s ease-in-out .4s, position .4s ease-in-out .4s;
      -moz-transition: transform .4s ease-in-out, opacity .4s ease-in-out .4s, position .4s ease-in-out .4s;
      -ms-transition: transform .4s ease-in-out, opacity .4s ease-in-out .4s, position .4s ease-in-out .4s;
      -o-transition: transform .4s ease-in-out, opacity .4s ease-in-out .4s, position .4s ease-in-out .4s;
      transition: transform .4s ease-in-out, opacity .4s ease-in-out .4s, position .4s ease-in-out .4s;
      border-radius: 50%;
      background: $yellow;
      color: white;
      width: 100px;
      float: left;
      position: relative;
      height: 100px;
      transform: scale(0.3);
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1;
      z-index: 20;
      top: 30px;
      left: 66px;
      @media screen and (max-width: $screen-xs-max) {
        left: 0;
        transform: scale(1);
      }
      font-size: 0.8em;
      .inner {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 0;
        @media screen and (max-width: $screen-xs-max) {
          opacity: 1;
        }
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }

      .date {
        font-weight: normal;

        display: inline-block;

        color: $green;
        font-family: $font-heading;
        &.month {

        }
        &.day {
          font-size: 2em;
        }
        &.sep {
          display: block;
        }
      }

    }
    .img-outer {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: auto;
      position: relative;
      img {
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;

        position: absolute;

      }
      &:after {
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: $green;
        border-radius: 50%;
      }
    }

    &:hover {
      h2, h3 {
        color: $green;
      }
      .date-container {
        transform: scale(1);
        .inner {
          opacity: 1;
        }
      }

      .img-outer {
        img {

        }
        &:after {
          opacity: .7;
        }
      }
    }

  }
}

.home {
  .quote {
    @media (max-width: $screen-xs-max) {
      display: none;
    }

    font-size: 1.2em;
    position: relative;
    top: -150px;
    color: $green;
    border-color: $green;
    @media screen and (max-width: $screen-sm-max) {
      top: -230px;
    }

  }
  .home-event {
    .title {
      font-family: $font-heading;
      font-size: 2em;

      text-transform: none;
      margin: 0;
      h1, h2, h3 {
        color: white;
        text-transform: none;
        margin-top: 0;
        margin-bottom: 5px;
      }
      h1 {
        font-size: 1.2em;
        @media screen and (max-width: $screen-sm-max) {
          font-size: 1em;
        }
      }
      h2 {
        font-size: 1.1em;
        @media screen and (max-width: $screen-sm-max) {
          font-size: .9em;
        }
      }
      h3 {
        font-size: .8em;
        @media screen and (max-width: $screen-sm-max) {
          font-size: .6em;
        }
      }
    }
    .teaser {
      font-size: .9em;
      line-height: 1.1;
      margin-bottom: 20px;
    }
    .teaser, .date {
      p {
        margin: 0;
      }
      font-size: 1.3em;
      color: white;
    }
    .date {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {

  .home {
    .quote {
      top: -190px;
      @media screen and (max-width: $screen-lg) {
        top: -90px;
      }
      @media screen and (max-width: $screen-sm-max) {
        top: -250px;
      }
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }

  }

}

#form {

}

#form-container {
  strong.fa {
    display: block;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    &.fa-check {
      color: forestgreen;
    }
    &.fa-times {
      color: $green;
    }
  }
  opacity: 1;
  transition: all 1s ease-in-out;
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding-top: 90px;
  padding-bottom: 90px;
  h1 {
    margin-top: 60px;
    margin-bottom: 50px;
    color: $green;
  }
  &.ng-hide-add, &.ng-hide-remove {
    display: block !important;
  }
  &.ng-hide {

    transform: translate3d(0, -30px, 0);
    opacity: 0;

  }

  i {
    position: absolute;
    top: 10px;
    left: 10px;

    cursor: pointer;
    color: $green;
    font-size: 2em;
    z-index: 1000;
  }
}

.galeria {
  #gallery-container {
    transition: all .4s ease;
    opacity: 1;
    position: relative;
    top: 0px;
    &.ng-hide-remove {
      top: 100px;
      opacity: 0;
    }

  }

  .gallery-title {
    padding: 10px 0;
    display: block;
    font-size: 2em;

    text-align: center;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
    color: white;

  }
  .date {
    font-size: 80%;
    display: block;
    margin-bottom: 30px;
  }
  .gallery-description {
    color: white;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
  }
}

.blog, .single-post {
  .post {
    transition: all .4s ease-in-out;
    position: relative;
    top: 0px;
    opacity: 1;
    &.ng-enter {
      opacity: 0;
      top: 20px;
      @media screen and (max-width: $screen-xs-max) {
        top: 0;
        left: -40px;
      }
    }

    &.ng-enter-active {
      opacity: 1;
      top: 0px;
      @media screen and (max-width: $screen-xs-max) {
        top: 0;
        left: 0;
      }
    }
    &.ng-enter-stagger {
      /* this will have a 100ms delay between each successive enter animation */
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;

      /* in case the stagger doesn't work then these two values
       must be set to 0 to avoid an accidental CSS inheritance */
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }

    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    .inner {
      &:after {
        width: 100%;
        width: calc(100% - 30px);
        height: 1px;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        left: calc(15px - 0px);
        bottom: 1px;
        background: #4a4a4a;

      }
    }
    &:last-child {
      .inner:after {
        display: none;
      }
    }
    .post-header {
      h2 {
        color: white;
        font-size: 2em;

        margin-top: 1px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      img {
        margin-bottom: 20px;
        display: block;

      }
    }
    .byline {
      font-size: 70%;
      a, a:hover {
        color: white;
      }
      .name {
        font-weight: 600;
      }
    }

    .body {
      line-height: 1.4;
      font-size: 1.05em;
      margin-top: 20px;
      font-family: $font-body !important;
      p,span{
        font-family: $font-body !important;

      }
    }
    .read-more {
      text-transform: uppercase;
      font-weight: bold;
      color: $yellow !important;
    }
  }
}

.single-post {
  .post {
    .post-header {
      h2 {
        color: $green;

      }
      .byline {

        a, a:hover {
          color: $green;
        }
        .name {
          font-weight: 600;
        }
      }

    }
  }
}

.mivel-foglalkozunk {
  background: $green;
  padding-top: 0;

  #top-bar {
    &:not(.scrolled), &:not(.expanded) {
      .replaced-svg {
        path {
          fill: white;
        }
      }
    }
    background: transparent;
    transition: all .4s ease;
    &.scrolled {
      background-color: rgba(255, 255, 255, .8);
      .replaced-svg {
        path {
          fill: $green;
        }
      }
      .fomme-icon-back {
        color: $green;
      }
      #menu-icon span {
        background: $green !important;
      }
    }

    &.expanded {
      .replaced-svg {
        path {
          fill: $green;
        }
      }
      .fomme-icon-back {
        color: $green;
      }
      #menu-icon span {
        background: $green !important;
      }
    }
  }
  .fomme-icon-back {
    color: white;
  }
  #menu-icon span {
    background: white !important;
  }

  #mivel-foglalkozunk {
    #hero {
      display: flex;
      background: url('/dist/img/mivel-foglalkozunk.jpg') no-repeat top left /cover;
      min-height: 50vh;
      align-content: center;
      align-items: center;
      font-size: 1.2em;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      text-align: center;
      &.large {
        min-height: 70vh;
      }
    }
  }
}

.fade {
  opacity: 1;

  transition: all .4s ease;
  &.ng-hide-add, &.ng-hide-remove {
    display: block !important;
  }
  &.ng-hide {

    opacity: 0;

  }
}

.cssload-loader {
  position: absolute;
  top: 0;
  left: 50%;
  width: 47.284271247462px;
  height: 47.284271247462px;
  margin-left: -23.142135623731px;
  margin-top: -23.142135623731px;
  border-radius: 100%;
  animation-name: cssload-loader;
  -o-animation-name: cssload-loader;
  -ms-animation-name: cssload-loader;
  -webkit-animation-name: cssload-loader;
  -moz-animation-name: cssload-loader;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-duration: 4.6s;
  -o-animation-duration: 4.6s;
  -ms-animation-duration: 4.6s;
  -webkit-animation-duration: 4.6s;
  -moz-animation-duration: 4.6s;
}

.cssload-loader .cssload-side {
  display: block;
  width: 6px;
  height: 19px;
  background-color: white;
  margin: 2px;
  position: absolute;
  border-radius: 50%;
  animation-duration: 1.73s;
  -o-animation-duration: 1.73s;
  -ms-animation-duration: 1.73s;
  -webkit-animation-duration: 1.73s;
  -moz-animation-duration: 1.73s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-timing-function: ease;
  -o-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
}

.cssload-loader .cssload-side:nth-child(1),
.cssload-loader .cssload-side:nth-child(5) {
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  animation-name: cssload-rotate0;
  -o-animation-name: cssload-rotate0;
  -ms-animation-name: cssload-rotate0;
  -webkit-animation-name: cssload-rotate0;
  -moz-animation-name: cssload-rotate0;
}

.cssload-loader .cssload-side:nth-child(3),
.cssload-loader .cssload-side:nth-child(7) {
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  animation-name: cssload-rotate90;
  -o-animation-name: cssload-rotate90;
  -ms-animation-name: cssload-rotate90;
  -webkit-animation-name: cssload-rotate90;
  -moz-animation-name: cssload-rotate90;
}

.cssload-loader .cssload-side:nth-child(2),
.cssload-loader .cssload-side:nth-child(6) {
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  animation-name: cssload-rotate45;
  -o-animation-name: cssload-rotate45;
  -ms-animation-name: cssload-rotate45;
  -webkit-animation-name: cssload-rotate45;
  -moz-animation-name: cssload-rotate45;
}

.cssload-loader .cssload-side:nth-child(4),
.cssload-loader .cssload-side:nth-child(8) {
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  animation-name: cssload-rotate135;
  -o-animation-name: cssload-rotate135;
  -ms-animation-name: cssload-rotate135;
  -webkit-animation-name: cssload-rotate135;
  -moz-animation-name: cssload-rotate135;
}

.cssload-loader .cssload-side:nth-child(1) {
  top: 23.142135623731px;
  left: 47.284271247462px;
  margin-left: -3px;
  margin-top: -10px;
  animation-delay: 0;
  -o-animation-delay: 0;
  -ms-animation-delay: 0;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(2) {
  top: 40.213203431093px;
  left: 40.213203431093px;
  margin-left: -3px;
  margin-top: -10px;
  animation-delay: 0;
  -o-animation-delay: 0;
  -ms-animation-delay: 0;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(3) {
  top: 47.284271247462px;
  left: 23.142135623731px;
  margin-left: -3px;
  margin-top: -10px;
  animation-delay: 0;
  -o-animation-delay: 0;
  -ms-animation-delay: 0;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(4) {
  top: 40.213203431093px;
  left: 7.0710678163691px;
  margin-left: -3px;
  margin-top: -10px;
  animation-delay: 0;
  -o-animation-delay: 0;
  -ms-animation-delay: 0;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(5) {
  top: 23.142135623731px;
  left: 0px;
  margin-left: -3px;
  margin-top: -10px;
  animation-delay: 0;
  -o-animation-delay: 0;
  -ms-animation-delay: 0;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(6) {
  top: 7.0710678163691px;
  left: 7.0710678163691px;
  margin-left: -3px;
  margin-top: -10px;
  animation-delay: 0;
  -o-animation-delay: 0;
  -ms-animation-delay: 0;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(7) {
  top: 0px;
  left: 23.142135623731px;
  margin-left: -3px;
  margin-top: -10px;
  animation-delay: 0;
  -o-animation-delay: 0;
  -ms-animation-delay: 0;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
}

.cssload-loader .cssload-side:nth-child(8) {
  top: 7.0710678163691px;
  left: 40.213203431093px;
  margin-left: -3px;
  margin-top: -10px;
  animation-delay: 0;
  -o-animation-delay: 0;
  -ms-animation-delay: 0;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
}

@keyframes cssload-rotate0 {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-o-keyframes cssload-rotate0 {
  0% {
    -o-transform: rotate(0deg);
  }
  60% {
    -o-transform: rotate(180deg);
  }
  100% {
    -o-transform: rotate(180deg);
  }
}

@-ms-keyframes cssload-rotate0 {
  0% {
    -ms-transform: rotate(0deg);
  }
  60% {
    -ms-transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(180deg);
  }
}

@-webkit-keyframes cssload-rotate0 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@-moz-keyframes cssload-rotate0 {
  0% {
    -moz-transform: rotate(0deg);
  }
  60% {
    -moz-transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(180deg);
  }
}

@keyframes cssload-rotate90 {
  0% {
    transform: rotate(90deg);
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-o-keyframes cssload-rotate90 {
  0% {
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  60% {
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-ms-keyframes cssload-rotate90 {
  0% {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  60% {
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-webkit-keyframes cssload-rotate90 {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  60% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-moz-keyframes cssload-rotate90 {
  0% {
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  60% {
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes cssload-rotate45 {
  0% {
    transform: rotate(45deg);
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(225deg);
    transform: rotate(225deg);
  }
}

@-o-keyframes cssload-rotate45 {
  0% {
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  60% {
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
  }
}

@-ms-keyframes cssload-rotate45 {
  0% {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  60% {
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
  }
}

@-webkit-keyframes cssload-rotate45 {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  60% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
}

@-moz-keyframes cssload-rotate45 {
  0% {
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  60% {
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
  }
}

@keyframes cssload-rotate135 {
  0% {
    transform: rotate(135deg);
    transform: rotate(135deg);
  }
  60% {
    transform: rotate(315deg);
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(315deg);
    transform: rotate(315deg);
  }
}

@-o-keyframes cssload-rotate135 {
  0% {
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  60% {
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  100% {
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
  }
}

@-ms-keyframes cssload-rotate135 {
  0% {
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  60% {
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  100% {
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
  }
}

@-webkit-keyframes cssload-rotate135 {
  0% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  60% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
}

@-moz-keyframes cssload-rotate135 {
  0% {
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  60% {
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  100% {
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
}

@keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-loader {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-loader {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.inknowation {
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  h1 + img {
    margin-bottom: 30px;
  }
}

.kapcsolat {
  h1 {
    color: $green;
    font-weight: bold;
    margin: 30px 0;
  }
  h3 {
    margin-top: 0;
  }
  img {
    margin-top: 30px;
  }
  .contact-info {
    font-size: 1.4em;
    font-weight: bold;
  }
}

.inknowation {
  .img-holder {
    width: 180px;
    height: 180px;
  }
}

a.circle {

  width: 140px;
  padding: 61px 0;
  font-size: 0.9em;
  height: 140px;
  border-radius: 50%;
  margin: 15px auto;

  position: relative;
  display: block;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  background: transparentize($green, .4);
  color: white;
  text-transform: uppercase;
  text-align: center;
  &:hover {
    background: transparentize($yellow, .4);
  }

}

