@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext);

$green: #ae5453 ;
$yellow: #dcad8f;

$green : #007883;
$yellow : #FFC10E;

$gray : #E6E7E8;
$gray-darker : #6D6E70 ;

$grid-gutter-width: 30px;
$container-large-desktop: 630px;
$container-desktop: 630px;
$container-tablet: 630px;

$fa-font-path: '../font';
$pswp__assets-path: './default-skin/';
$pswp__background-color: transparentize($green,.4);
$pswp__placeholder-color: $green;


/*
font-family: 'Parisienne', cursive;
font-family: 'Petit Formal Script', cursive;
font-family: 'Romanesco', cursive;
'spinweradBold', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Josefin Sans', sans-serif;
 'Lora', serif;
*/
$font-body : 'Open Sans', sans-serif;
$font-heading: 'Open Sans', sans-serif;
$font-quote: 'Open Sans', sans-serif;