
<div style="background-image:url(/images/home/{{sectiondata.image}})" class="section">



<!--

    <div ng-if="!sectiondata.event_id && sectiondata.quote" class="quote" >
        &ldquo;<span ng-bind-html="sectiondata.quote | breakFilter"></span>&bdquo;
        <div class="quoter">{{sectiondata.quoter}}</div>


    </div>

    <div class="home-event container" ng-if="sectiondata.event_id">

        <div class="title" ng-bind-html="sectiondata.event_title"></div>
        <p class="date"><span class="from">{{sectiondata.event.date_from |  date:'yyyy. MMMM dd' }}<span ng-if="!sectiondata.event.date_to">.</span></span>  <span ng-if="sectiondata.event.date_to" class="to"> - {{sectiondata.event.date_to |  date:' MMMM dd.' }}</span></p>

        <div class="teaser" ng-bind-html="sectiondata.event_teaser"></div>
        <a class="home-btn btn text-uppercase" href="/esemenyek/{{sectiondata.event_id}}">Az eseményről bővebben</a>
    </div>
-->

</div>

