.images {
  padding-left: 0;

  .image {
    position: relative;
    transition: all.3s ease;
    margin: 20px 0;
    border: 1px solid #eeeeee;
    display: flex;
    > div.move{
      align-content: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      i {
        cursor: move;
      }
    }
    input, textarea {
      border: 1px solid #bbb;
      width: 100%;
      padding: 10px
    }


    .deleteButton{
      position: absolute;
      top:10px;
      left:10px;
      color:red;
      opacity:0;
      transition: opacity .3s;
      cursor: pointer;
      display: block;
      z-index: 20;

    }

    &:hover{
      .deleteButton{
        opacity:1;
      }

      &.deleted{
        background: opacify(red,.6);
        opacity:0;
      }
    }
  }
  .sortable-placeholder {
    border: 2px dashed #bbb;
  }
}