<!DOCTYPE html>
<html ng-app="myApp">
<head lang="hu">
    <meta charset="UTF-8">
    <title>{{ seoTitle || option.default_seo_title || "inKNOWation"}}</title>
    <meta name="description"
          content="{{seoDescription ||options.default_seo_description || 'A FOMme Fatale, azaz Dr. Obermayer Nóra tudásmenedzsment szakértő, facilitátor és Molnár Judit, üzletfejlesztési vezető TOP menedzser és felső vezető pozícióban dolgozó Hölgyek számára kínál kompetenciafejlesztő- és élményprogramokat.'}}">
    <link rel="stylesheet" href="/dist/css/style.css"/>
    <link rel="stylesheet" href="/dist/css/fommeFont.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="fragment" content="!">
    <meta property="og:image" content="{{seoImage || 'http://inknowation.hu/'+options.default_image}}"/>

    <base href="/"></base>
</head>
<body ng-cloak="" ng-click="closeMenu($event)" class="{{bodyClass}}"
      ng-class="[{animated: isLoading},{colored: colored}]">
<div id="scroll"></div>
<!--<div id="splash" ng-show="isLoading">
    <i class="fomme-icon fomme-icon-logo_neg"></i>
    <div class="filler"></div>
</div>-->
<loading></loading>

<div id="top-bar" ng-class="[{expanded:menuOpen},{scrolled:scrollTop},topBarClass] ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!--                <div ng-show="!home" id="back" ng-class="{colored:menuOpen}">
                                    <a href="#" ng-click="goBack()"><i class="fomme-icon fomme-icon-back"></i></a>
                                </div>
                                <div ng-show="!home" id="logo" class="pull-left" ng-class="[{scrolled:menuOpen},{scrolled:scrollTop}]">
                                    <a  ui-sref="home">


                                        <img ng-show="coloredLogo" class="img-responsive center-block colored-logo top-bar-logo svg"
                                             ng-src="./dist/img/FOM_logo_colored.svg" alt="Fomme Fatale"/>
                                        <i ng-show="!coloredLogo" class="fomme-icon fomme-icon-logo top-bar-logo" alt="Fomme Fatale"/> </i>
                                    </a>
                                </div>-->
                <div class="center-block topbar-center row">
                    <div ng-show="!home" id="back" ng-class="{colored:menuOpen}">
                        <a href="#" ng-click="goBack()"><i class="fa fa-chevron-left"></i></a>
                    </div>
                    <a id="menu-icon" ng-click="menuOpen = !menuOpen" ng-init="menuOpen=false">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>


                    </a>
                </div>
                <div class="row">
                    <a ui-sref="home">


                        <img ng-class="{scrolled:scrollTop}" ng-if="!colored" id="logo" src="/dist/img/logo.svg"
                             alt="Inknowation"/>
                        <img ng-class="{scrolled:scrollTop}" ng-if="colored" id="logo" src="/dist/img/logo_white.svg"
                             alt="Inknowation"/>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div id="menu-container">
        <ul id="menu">
            <li>
                <a ui-sref="rolam">Rólam</a>
            </li>
            <li>
                <a ui-sref="tudasmenedzsment">Tudásmenedzsment</a>
            </li>
            <li>
                <a ui-sref="3f-inknowation">3F Inknowation rendszer</a>
            </li>
            <li>
                <a ui-sref="blog">Blog</a><!---->
            </li>

            <li>
                <a ui-sref="galeria">Galéria</a><!---->
            </li>
            <li>
                <a ui-sref="kapcsolat">Kapcsolat</a>
            </li>
        </ul>
        <ul id="social">
            <li>
                <a href="tel:{{options.phone}}"><i class="fa fa-phone"></i></a>
            </li>
            <li>
                <a href="mailto:{{options.email}}"><i class="fa fa-envelope"></i></a>
            </li>
            <li>
                <a href="{{options.facebook}}" target='_blank'><i class="fa fa-facebook"></i></a>
            </li>
        <!--    <li>
                <a href="{{options.youtube}}" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </li>-->
        </ul>
    </div>
</div>
<div id="dots"></div>

<div ng-cloak ui-view class="main"></div>
<a ng-if="scrollTop" class="scrollTo" href="#"
   scroll-to="scroll">
 <i class="fa fa-chevron-up"></i>
</a>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>-->
<script src="./dist/js/script.min.js"></script>
</body>
</html>