
<div id="3f-inknowation">
    <div id="hero" ng-class="{large: programs.length <= 3 } ">

        <div class="container">
            <h1 class="text-center color-white">3f inKNOWation rendszer</h1>
            <p><b>Üzleti előnyök</b><br>
            A 3F rendszer hozzájárul a szervezetek azon kompetenciáinak fejlesztéséhez, amelyek lehetővé teszik:
            <ul>
            <li>    a tudás és a „jó gyakorlatok” feltérképezését,</li>
            <li>     az intellektuális tőke megőrzését,</li>
            <li> 	a szervezeti/csoport kommunikáció elősegítését,</li>
            <li> 	hatékony időgazdálkodás és priorizálás megvalósítását,</li>
            <li> 	a meglévő IT rendszerek jobb kihasználását,</li>
            <li> 	social media technológiákban rejlő lehetőségek kiaknázását és</li>
            <li> 	együttműködő szervezeti kultúra kialakítását. </li>
        </ul>
            </p>
        </div>
    </div>
<div class="container">


    <div id="programs" class="row">
        <a ng-repeat="program in programs" ui-sref="3f-program({ slug:program.slug })"
           class="col-xs-12 col-sm-4 text-center program">
            <div class="img-holder img-circle">
                <h3 class="name text-center">{{program.title}}</h3>

            </div>

        </a>


    </div>






</div>

</div>