<div class="container singleProgram" ng-show="loaded">


    <div class="head row">
        <h1 class="text-center color-green">{{program.title}}</h1>
         </div>



    <section class="content row">
        <div class="col-xs-12" ng-bind-html="program.body">

        </div>

    </section>

</div>
