
<div class="container">

    <div class="row">
        <h1 class="text-center">Blog</h1>
    </div>
    <div class="row post text-center" ng-repeat="post in posts">
        <div class="inner">
            <div class="post-header col-xs-12">
                <a title="Tovább olvasom..." ui-sref="singlePost({ slug:post.slug })">
                    <img class="center-block img-responsive" ng-if="post.image" lazy-img="/images/featured/posts/{{post.image}}"  alt="{{post.title}}"/>
                    <h2>{{post.title}}</h2>

                    <div class="byline">
                        <a ui-sref="rolam">
                        <span class="name">{{post.person.name}}</span>
                    </a> /
                        <span class="date">{{post.created_at | dateToISO | date:"yyyy. MMMM d."}}</span>
                    </div>

                </a>
            </div>
            <div class="body col-xs-12" >

<span ng-bind-html="post.content | limitHtml:400">

</span>
                <a title="Tovább olvasom..." ui-sref="singlePost({ slug:post.slug })" class="read-more "> Olvass tovább</a>
            </div>

        </div>
    </div>
</div>