<div class="container single-post ">
    <div class="row post">
        <div class="inner">
            <div class="post-header col-xs-12">

                <img class="center-block img-responsive" ng-if="post.image" lazy-img="/images/featured/posts/{{post.image}}"  alt="{{post.title}}"/>
                    <h2>{{post.title}}</h2>

                <div class="byline">
                    <a ui-sref="rolam">
                        <span class="name">{{post.person.name}}</span>
                    </a> /
                    <span class="date">{{post.created_at | dateToISO | date:"yyyy. MMMM d."}}</span>
                </div>

            </div>
            <div class="body col-xs-12" ng-bind-html="post.content">

            </div>

        </div>
    </div>
</div>