<div class="container singleEvent" ng-show="loaded" >


    <div class="head row">
        <div class="col-xs-12">
            <img ng-if="event.program.image && !event.image" src="public/images/programok/{{event.program.image}}" ng-src="public/images/programok/{{event.program.image}}" class="img-small center-block img-responsiove img-circle" alt=""/>
            <img ng-if="!event.program.image && event.image" src="public/images/esemenyek/{{event.image}}" ng-src="public/images/esemenyek/{{event.program.image}}" class="img-small center-block img-responsiove img-circle" alt=""/>

        <h1 ng-if="event.program" class="text-center">{{event.program.title}} <span ng-if="event.program.subtitle">{{event.program.subtitle}}</span>  </h1>
            <h1 ng-if="!event.program" class="text-center">{{event.title}}  </h1>

            <p class="text-center" ng-if="event.program"><a
                    ui-sref="mivel-foglalkozunk-program({ slug:event.program.slug })">Ide kattintva
                elérheti a program leírását!</a></p>

            <div class="date text-center">{{event.date_from | date:'yyyy. MMMM d'}}<span ng-if="!event.date_to">.</span><span class="to" ng-if="event.date_to"> - {{event.date_to | date:'MMMM d.'}}</span>
            </div>

        </div>
    </div>


    <section class="content row">
        <div class="col-xs-12 text-center" ng-bind-html="event.body">

        </div>

    </section>
    <footer class="footer row">


        <div  class="col-xs-12">

            <a ng-click="showModal = !showModal" class="btn-marsala btn center-block" >Jelentkezem!</a>

        </div>
        <div  class="col-xs-12">

        <a class="jellap text-center" target="_blank" href="/files/jellap.pdf">Letölthető jelentkezési lap<i class="fomme-icon fomme-icon-download"></i></a>

        </div>




    </footer>



</div>

<div  ng-keyup="$event.keyCode == 27 ? closeModal() : ''" tabindex="1"  id="form-container" ng-show="showModal" ng-include="'pages/eventForm.html'"></div>
