<section id="timeline" class="container">
    <a ui-sref="esemenyek-single({ id:event.id})" ng-repeat="event in datas" class="event">
        <div class="date-container">
            <div class="inner">
            <span class="date month">
                {{event.date_from | date:'MMM'}}
            </span>
                <span class="date day">
                    {{event.date_from | date:'d'}}
                </span>
                <span class="date sep" ng-if="event.date_to">-</span>
              <span class="date month">
                {{event.date_to | date:'MMM'}}
            </span>
                <span class="date day">
                    {{event.date_to | date:'d'}}
                </span>


            </div>
        </div>
        <div ng-if="event.program && !event.image" class="img-outer">
            <img class="img-circle img-responsive center-block" src="public/images/programok/{{event.program.image}}"
                 ng-src="public/images/programok/{{event.program.image}}" alt="{{event.program.name}}">
        </div>

        <div ng-if="event.program" class="text-center">
            <h2>{{event.program.title}}</h2>

            <h3>{{event.program.subtitle}}</h3>
        </div>

        <div ng-if="!event.program && event.image" class="img-outer">
            <img class="img-circle img-responsive center-block" src="public/images/esemenyek/{{event.image}}"
                 ng-src="public/images/esemenyek/{{event.image}}" alt="{{event.program.name}}">
        </div>

        <div ng-if="!event.program && !event.image" class="img-outer">
            <img class="img-responsive center-block" src="{{options.default_image}}"
                 ng-src="{{options.default_image}}" alt="{{event.program.name}}">
        </div>

        <div ng-if="!event.program" class="text-center">
            <h2>{{event.title}}</h2>
        </div>


    </a>


</section>