<i class="fa fa-times" ng-click="$parent.showModal = !$parent.showModal"></i>



<div id="form" >
<div class="container">
    <div class="row">
        <div ng-if="sent" class="alert alert-{{alertClass}}">
            {{status}}
        </div>
        <div ng-if="!sent" class="col-xs-10 col-xs-push-1">
            <h1 class="text-center">Jelentkezési lap</h1>
            <multi-step-container steps="steps" class="simple-prev-next" on-step-change="onStepChange()"
                                  on-finish="finish()">
                <header>


                    <ul id="progress">
                        <li ng-class="$getActiveIndex() >= $index+1 ? 'active' : ''"
                            ng-repeat="step in $getSteps()">

                            {{step.title}}
                        </li>
                    </ul>
                    <strong ng-if="$getActiveStep().hasForm" class="fa"
                            ng-class="$getActiveStep().valid ? 'fa-check' : 'fa-times'"></strong>

                </header>
                <div class="form-main" rebuild-on="rebuild:me">
                                <main step-container  ></main>
                </div>
                <footer>
                    <div class="col-xs-12">
                        <button ng-disabled="$isFirst()" class="btn btn-marsala col-xs-5" ng-click="$previousStep()">
                            <span class="fa fa-chevron-left"></span>
                            Előző
                        </button>
                        <button ng-disabled="($getActiveStep().hasForm && !$getActiveStep().valid)" ng-hide="$isLast()" class="col-xs-5 col-xs-push-2 btn btn-marsala" ng-click="$nextStep()">
                            Következő
                            <span class="fa fa-chevron-right"></span>
                        </button>
                        <button class="btn btn-success col-xs-5 col-xs-push-2" ng-click="$finish()" ng-if="$isLast()">Jelentkezési lap elküldése
                        </button>
                    </div>

                    <small class="text-center col-xs-12">  <br/>A jelentkezés lemondására írásban van lehetőség, legkésőbb 72 órával a rendezvény előtt. Amennyiben a lemondás ezután érkezik meg, úgy a teljes részvételi díj kiszámlázásra kerül.</small>
                </footer>
            </multi-step-container>

        </div>
    </div>
</div>
</div>