<div id="gallery-container" class="container" ng-show="loaded">
    <div class="row">
        <h1 class="text-center">Galéria</h1>
    </div>
    <div ng-repeat="gallery in galleries" class="row gallery">


        <h1 class="col-xs-12 gallery-title color-white">{{gallery.title}}</h1>
        <span class="date text-center">{{gallery.created_at | dateToISO | date:"yyyy. MMMM d."}}</span>

        <!--
        <p ng-if="gallery.description" class="gallery-description col-xs-12" ng-bind-html="gallery.description"></p>
-->

<!--        <div class="row">
            <div ng-repeat="image in gallery.gallery_item">
                <div class="col-xs-12 col-sm-6">

                    <img class="img-responsive center-block gallery-image" data-big="{{image.big}}" src="{{image.small}}"
                         ng-src="{{image.small}}" alt="{{image.name || 'FommeFatale'}}"/>
                </div>

            </div>
        </div>-->

        <div id="photoswipe" photo-swipe images="gallery.images"></div>
        <div photo-slider></div>


    </div>
</div>