<div id="contact">
    <div class="container">

        <div class="row">
         <div class="col-xs-12"><h1 class="text-center ">Kapcsolat</h1>
         </div>

            <div class="text-center col-xs-12 ">
                <h3 class="text-center">
                    Dr. Obermayer Nóra
                </h3>
                <h4 class="text-center"><i>tudásmenedzsment szakértő, facilitator</i></h4>
                <p class="contact-info"> Mobil <br> <a href="tel:+36-30-520-1414">+36-30-520-1414</a> <br/>
                    E-mail <br> <a href="mailto:obermayer@inknowation.hu">
                        obermayer@inknowation.hu
                     </a></p>

                <img class="img-responsive center-block" src="./dist/img/nora_kep.png" alt="Obermayer Nóra">



            </div>
        </div>
    </div>
   <!-- <div class="container-fluid social">
        <ul>
            <li>
                <a href="tel:{{options.phone}}"><i class="fa fa-phone"></i></a>
            </li>
            <li>
                <a href="mailto:{{options.email}}"><i class="fa fa-envelope"></i></a>
            </li>
            <li>
                <a href="{{options.facebook}}" target='_blank'><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="{{options.youtube}}" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </li>
        </ul>

    </div>-->

</div>