<div class="container " ng-show="loaded">


    <div class="head row">
        <div class="col-xs-12 text-center"><img ng-src="public/images/persons/{{person.image}}" alt="{{person.name}}"
                                                      class="img-responsive img-circle center-block profile-pic"/>
        </div>
        <div class="col-xs-12">
            <div class="personal-quote text-center">
            <h3>
                &ldquo;<span ng-bind-html="person.quote"></span>&bdquo;</h3>
            </div>
            <div class="contact text-center">
                <span class="name">{{person.name}}</span> önéletrajza innen letölthető: <a target="_blank" href="public/files/persons/{{person.cv}}"><i class="fomme-icon fomme-icon-download"></i></a>

            </div>
        </div>
    </div>
    <section class="content row">
        <div class="col-xs-12" ng-bind-html="person.body">

        </div>
        <div class="sign center-block">
            <img class="img-responsive center-block" ng-src="public/images/persons/{{person.sign}}" alt="{{person.name}}"/>

        </div>
    </section>
    <footer class="footer row">


        <div class="col-xs-12">

            <img  class="img-responsive center-block underImage" src="public/images/persons/{{person.underImage}}" alt="" style="clip-path: url({{path}}#clipper)"/>
            <svg version="1.1" id="clipBottom" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 328.471 179.175" enable-background="new 0 0 328.471 179.175"
            xml:space="preserve">

                <defs>
                    <clipPath id="clipper" clipPathUnits="objectBoundingBox">
<!--                        <path id="clip" d="M-0.0234375,0
                        v215.2548828c2.3417969,4.3925781,11.1269531,18.7470703,43.4941406,41.0136719
			c38.8041992,26.6455078,56.6650391,21.3798828,76.5830078,33.0888672
			c27.8232422,16.6962891,29.8735352,45.1015625,29.8735352,45.1015625s2.1967773-28.4052734,30.019043-45.1015625
			c19.9121094-11.7089844,37.9248047-6.4433594,76.5830078-33.0888672
			c32.5068359-22.8486328,41.2919922-36.6210938,43.4941406-41.3046875V0H-0.0234375z"/>-->

                        <path id="clip" d="M0.0454102-0.015625v0.5507813c0.0068359,0.0141602,0.0341797,0.0576172,0.1333008,0.1259766
			c0.1196289,0.0820313,0.1743164,0.0654297,0.2353516,0.1020508c0.0854492,0.0512695,0.0917969,0.1386719,0.0917969,0.1386719
			s0.0068359-0.0874023,0.0922852-0.1386719c0.0610352-0.0366211,0.1166992-0.0200195,0.2348633-0.1020508
			C0.9331055,0.5917969,0.9599609,0.5488281,0.9667969,0.534668v-0.550293H0.0454102z"/>
                    </clipPath>

                </defs>
                  <g>
                        <path fill="#DBAE8F" d="M20.625,58.637c25.373,25.148,52.96,28.389,102.808,37.627c27.074,5.035,40.802,28.934,40.802,28.934
		s-2.277-29.606-30.986-46.736c-20.594-12.35-39.23-6.801-79.232-34.388C12.832,15.719,8.373,0,8.373,0S6.64,9.72,7.441,21.685
		C8.115,34.13,11.099,49.175,20.625,58.637"/>
                        <path fill="#AE5453" d="M36.825,121.316c35.604,8.307,82.759-0.898,111.853,17.803c6.384,4.105,15.558,14.531,15.558,14.531
		s-10.714-33.104-37.082-41.252C99.729,103.931,28.741,110.602,0,75.703c0,0,0.064,2.854,0.962,7.121
		C3.303,94.051,11.034,115.316,36.825,121.316"/>
                        <path fill="#DBAE8F" d="M94.98,139.665c-72.142,13.633-89.56-0.964-89.56-0.964s15.494,29.833,43.336,31.275
		c19.535,0.995,54.628-18.828,79.552-11.644c24.955,7.185,35.926,17.515,35.926,17.515S134.724,132.189,94.98,139.665"/>
                        <path fill="#DBAE8F" d="M205.037,96.264c49.849-9.238,77.436-12.479,102.775-37.627c9.528-9.462,12.543-24.475,13.218-36.921
		C321.831,9.72,320.066,0,320.066,0s-4.458,15.719-45.613,44.073c-40.031,27.587-58.669,22.038-79.262,34.387
		c-28.71,17.131-30.956,46.737-30.956,46.737S177.932,101.299,205.037,96.264"/>
                        <path fill="#AE5453" d="M179.761,139.119c29.125-18.701,76.28-9.496,111.886-17.803c25.789-6,33.52-27.266,35.83-38.494
		c0.93-4.266,0.994-7.119,0.994-7.119c-28.742,34.898-99.761,28.228-127.155,36.695c-26.398,8.147-37.081,41.252-37.081,41.252
		S173.409,143.225,179.761,139.119"/>
                        <path fill="#DBAE8F" d="M233.49,139.665c-39.744-7.476-69.254,36.183-69.254,36.183s10.97-10.33,35.895-17.515
		c24.923-7.185,60.016,12.639,79.584,11.644c27.811-1.442,43.334-31.275,43.334-31.275S305.6,153.298,233.49,139.665"/>
                    </g>
            </svg>

        </div>


    </footer>
</div>
