<div id="kikvagyunk" class="rose">


        <div id="kik-image-container">
            <div class="container">
                <div class="row">

                    <a ng-repeat="person in persons" ui-sref=".person({ slug:person.slug })" class="col-xs-12 col-xs-push-0 col-sm-5 col-sm-push-1 col-md-6 col-md-push-0  person">

                        <img class="img-circle img-responsive center-block" ng-src="public/images/persons/{{person.image}}"
                             alt=""/>
                        <h3 class="name text-center">{{person.name}}</h3>
                    </a>


                </div>
            </div>








</div>
</div>



<div  ng-class="{ active: active() }" class="kik-vagyunk-person" ui-view="kik-vagyunk-person" ></div>