<div class="container" id="kikkel-dolgozunk">

    <h1 class="text-center color-marsala">Kikkel dolgozunk</h1>
    
    <div class="row partner" ng-repeat="partner in datas" >
        <div class="col-xs-12 col-sm-4"><span class="name">{{partner.name}}</span><a href="{{partner.url}}" class="url" target="_blank">{{partner.url}}</a><div class="additional">{{partner.additional}}</div></div>
        <div class="col-xs-12 col-sm-4"><img class="img-responsive center-block img-small " src="public/images/partnerek/{{partner.logo}}" ng-src="public/images/partnerek/{{partner.logo}}" alt="{{partner.name}}"/></div>
        <div class="col-xs-12 col-sm-4" ng-if="partner.person"><img class="img-responsive center-block img-circle img-small" src="public/images/partnerek/{{partner.person}}" ng-src="public/images/partnerek/{{partner.person}}" alt="{{partner.name}}"/> <div class="text-center partner-info" ng-bind-html="partner.person_additional"></div></div>

    </div>
    
    
</div>



