<div class="container singleProgram" ng-show="loaded">


    <div class="head row">
        <div class="col-xs-12 text-center"><img ng-src="public/images/programok/{{program.image}}" alt="{{program.title}}"
                                                      class="img-small img-responsive img-circle center-block program-pic"/>
        <h1 class="text-center color-marsala">{{program.title}}</h1>
        <h2 class="text-center text-lowercase color-marsala">{{program.subtitle}}</h2>

         <div class="smallquote" ng-bind-html="program.quotes">

         </div>

    </div>
    </div>
    <section class="content row">
        <div class="col-xs-12" ng-bind-html="program.body">

        </div>

    </section>
    <footer ng-if="program.events" class="footer row">

    <h3 class="col-xs-12">Következő eseményeink a témában:</h3>
        <div class="col-xs-12" ng-repeat="event in program.events">
        <p><a ui-sref="esemenyek-single({ id:event.id})"> {{event.title}} </a> - <span class="small">({{event.date_from | date:"yyyy. MMMM d."}})</span></p>

        </div>


    </footer>

</div>
