
<div id="mivel-foglalkozunk" class="marsala">
    <div id="hero" ng-class="{large: programs.length <= 3 } ">

        <div class="container">
            <h1 class="text-center color-marsala">Kompetenciafejlesztő- és élményprogram</h1>

            <p>Specifikusan vezető és TOP menedzser pozícióban dolgozó Hölgyek számára kidolgozott programjaink a
                személyes
                hatékonyság és márkaépítés, az időgazdálkodás, a coaching szemléletű vezetés, az asszertív kommunikációs
                készség
                vagy éppen a női menedzsment aspektusából vizsgálják a nők szerepét, középpontba helyezve a szükséges
                kompetenciák fejlesztését.
            </p>
        </div>
    </div>
<div class="container">


    <div id="programs" class="row">
        <a ng-repeat="program in programs" ui-sref="mivel-foglalkozunk-program({ slug:program.slug })"
           class="col-xs-12 col-sm-4 text-center program">
            <div class="img-holder">
                <img class="img-circle img-responsive center-block" ng-src="public/images/programok/{{program.image}}"
                     alt="{{program.title}}"/>
            </div>
            <h3 class="name text-center">{{program.title}}</h3>
            <h4 class="name text-center">{{program.subtitle}}</h4>
        </a>


    </div>






</div>

</div>