<div id="default">


    <div class="container">
        <div class="row">
            <h3 class="page-title text-center">Rólam</h3>
            <div class="content" ng-bind-html="person.body">

            </div>
            <img class="img-responsive center-block" src="./dist/img/nora_kep.png" alt="Obermayer Nóra">
            <div class="contact text-center">
               Önéletrajzom innen letölthető: <a target="_blank" href="/files/persons/{{person.cv}}"><i class="fomme-icon fomme-icon-download"></i></a>

            </div>
        </div>
    </div>


</div>



