
<div id="tudasmenedzsment">
    <div id="hero">

        <div class="container">
            <h1 class="text-center color-white">Tudásmenedzsment</h1>


            <div ng-bind-html="option.tudasmenedzsment_appends"> </div>


        </div>
    </div>
<div class="container">


    <div id="programs" class="row">
        <a  ui-sref="kutatasok"
           class="col-xs-12 col-sm-6 text-center program">
            <div class="img-holder img-circle">
                <h3 class="name text-center">Kutatások</h3>

            </div>

        </a>
        <a  ui-sref="publikaciok"
            class="col-xs-12 col-sm-6 text-center program">
            <div class="img-holder img-circle">
                <h3 class="name text-center">Publikációk</h3>

            </div>

        </a>

    </div>






</div>

</div>