<div class="container singleProgram" >


    <div class="head row">
        <h1 class="text-center color-green">Publikációk</h1>
         </div>



    <section class="content row">
        <div class="col-xs-12">
            <div ng-bind-html="option.publikaciok_appends"> </div>

        </div>





        <div ng-if="documents.length > 0" class="col-xs-12">
            <ul class="documents">
                <li ng-repeat="document in documents">
                    <a target="_blank" href="/files/documents/{{document.path}}">{{document.title}}</a>
                </li>
            </ul>
        </div>


    </section>

</div>
