

@import "_partials/variables";


@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/fontawesome/scss/font-awesome";
@import "../../bower_components/fullpage.js/jquery.fullPage";
@import "../../bower_components/ng-scrollbar/dist/ng-scrollbar.css";

@import "_partials/common";
@import "_partials/frontpage";
@import "_partials/pages";

@import "photoswipe/main";
@import "photoswipe/default-skin/default-skin";



.main{
  -webkit-transition: all .7s  cubic-bezier(1, 0.76, 0, 0.96);
  -moz-transition: all .7s  cubic-bezier(1, 0.76, 0, 0.96);
  -ms-transition: all .7s  cubic-bezier(1, 0.76, 0, 0.96);
  -o-transition: all  .7s cubic-bezier(1, 0.76, 0, 0.96);
  transition: all .7s  cubic-bezier(1, 0.76, 0, 0.96);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  height: 100%;
  &.ng-enter {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    opacity:0;

  }

  &.ng-enter.ng-enter-active, &.ng-leave {
    opacity:1;
    position: absolute;


  }
  &.ng-leave.ng-leave-active {

    opacity:0;
    body &{
      overflow:hidden;
    }
  }
.esemenyek-single &,.esemenyek &{
  opacity:1;
  &.ng-enter {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;


  }

  &.ng-enter.ng-enter-active, &.ng-leave {
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-transform: translateY(0);
    transform: translateY(0);
}
  &.ng-leave.ng-leave-active {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity:0;
  }
  }




  .home &{

      position: relative;
      z-index: -2;

  }




#fullpage{
  width: 100%;
  #welcome{
    width: 100%;
  }
}
}


